<%- include('../../partials/wardenuse/header.ejs', { appURL: appURL, title: 'Attendance Report' }) %>
<%- include('../../partials/wardenuse/nonloginlayout.ejs', { user: user, subTitle: 'Attendance Report' }) %>
<%- include('../../partials/breadcrumb.ejs', { breadCrumbs: breadCrumbs }) %>
<%- include('../../partials/wardenuse/aside.ejs') %>

<section class="section">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="container d-flex flex-column align-items-center">
                    <div class="row g-3 justify-content-center mb-4 mt-3">
                        <div class="col-auto">
                            <label class="visually-hidden" for="student">Student</label>
                            <select class="form-select" id="student">
                                <option selected>Select a Student</option>
                            </select>
                        </div>
                    </div>
                    <div class="row g-3 justify-content-center mb-5">
                        <div class="col-auto">
                            <label class="visually-hidden" for="month">Month</label>
                            <select class="form-select" id="month">
                                <option selected>Select Month</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <label class="visually-hidden" for="year">Year</label>
                            <select class="form-select" id="year">
                                <option selected>Select Year</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <!-- Centered Calendar Table -->
                    <div class="col-lg-9 d-flex justify-content-center alignCal">
                        <table class="table table-bordered w-50 mb-4 border border-dark-subtle">
                            <thead>
                                <tr id="dayHeaders"></tr>
                            </thead>
                            <tbody id="dateLabel"></tbody>
                        </table>
                    </div>
                    <div class="col-lg-3" style="display: none;" id="count">
                        <div class="border border-dark-subtle p-3 rounded mb-3">
                            <p class="mb-2">Present: <span class="text-dark small fw-bold" 
                                id="greenCount"></span></p>
                            <p class="mb-2">Absent: <span class="text-dark small fw-bold" 
                                id="redCount"></span></p>
                            <p class="mb-2">Not Marked: <span class="text-dark small fw-bold" 
                                id="notMarkedCount"></span></p>
                            <p class="mb-0">Total Days: <span class="text-dark small fw-bold" 
                                id="totalDays"></span></p>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm" onClick="downloadReport()" 
                         id="download" style="display: none;">Download Report</button>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center mb-3 d-none" 
                    id="attendanceStatus">
                    <div class="p-2 smallBox mt-0 clr1"></div>
                    <span class="ms-2">Present</span>

                    <div class="p-2 smallBox mt-0 clr2 ms-3"></div>
                    <span class="ms-2">Absent</span>

                    <div class="p-2 smallBox mt-0 ms-3 border border-dark-subtle"></div>
                    <span class="ms-2">Not Marked</span>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
 <%- include('../../partials/wardenuse/footer.ejs') %>
<script>
    const selectedStudentDom = document.getElementById('student');
    const selectedMonthDom = document.getElementById('month');
    const selectedYearDom = document.getElementById('year');
    const dateLabelDom = document.getElementById('dateLabel');
    const dayHeadersDom = document.getElementById('dayHeaders');
    const countDom = document.getElementById('count');
    const greenCountDom = document.getElementById('greenCount');
    const redCountDom= document.getElementById('redCount');
    const notMarkedCountDom = document.getElementById('notMarkedCount');
    const totalDaysDom = document.getElementById('totalDays');
    const downloadDom = document.getElementById('download');
    const currentTime = new Date();
    const currentYear = currentTime.getFullYear();
    const yearRange = 20;
    let reportData;

    window.addEventListener('load', async () => {
        try {
            await Promise.all([populateDropDownStudents(), populateDropDownMonthAndYear()]);
        } catch (error) {
            alert('Something went wrong.Please try later1.')
        }
    });

    selectedMonthDom.addEventListener('change', renderReport)
    selectedYearDom.addEventListener('change', renderReport);
    selectedStudentDom.addEventListener('change', renderReport);

    function populateDropDownStudents() {
        fetch(getAppUrl('api/student/getstudent'))
            .then(async (response) => {
                const students = await response.json();
                students.forEach(student => {
                    const option = document.createElement('option');
                    option.value = student.name;
                    option.textContent = `${student.name} - RegNo: (${student.registerNumber})`;
                    selectedStudentDom.appendChild(option);
                });
            })
            .catch(error =>  alert('Something went wrong.Please try later.'));
    }

    function populateDropDownMonthAndYear() {
        for (let i = 0; i < 12; i++) {
            const monthOption = document.createElement('option');
            monthOption.value = i;
            monthOption.textContent = new Date(0, i).toLocaleString('default', { month: 'long' });
            selectedMonthDom.appendChild(monthOption);
        }

        for (let i = currentYear - yearRange; i <= currentYear + yearRange; i++) {
            const yearOption = document.createElement('option');
            yearOption.value = i;
            yearOption.textContent = i;
            selectedYearDom.appendChild(yearOption);
        }
        selectedMonthDom.value = currentTime.getMonth();
        selectedYearDom.value = currentYear;
    }

    function renderDayHeaders() {
        const daysOfWeek = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        dayHeadersDom.innerHTML = '';
        daysOfWeek.forEach(day => {
            const th = document.createElement('th');
            th.textContent = day;
            dayHeadersDom.appendChild(th);
        });
    }

    async function renderReport() {
        if (selectedStudentDom.value === 'Select a Student' || selectedMonthDom.value === 'Select Month'
            || selectedYearDom.value === 'Select Year') {
            dayHeadersDom.innerHTML = '';
            dateLabelDom.innerHTML = '';
            countDom.style.display = 'none';
            toggleAttendanceStatusDisplay(false); 
            return
        }
        const month = parseInt(selectedMonthDom.value);
        const year = parseInt(selectedYearDom.value);
        const firstDay = new Date(year, month, 1).getDay();
        const lastDate = new Date(year, month + 1, 0).getDate();

        dayHeadersDom.innerHTML = '';
        dateLabelDom.innerHTML = '';

        try {
            const response = await fetch(getAppUrl('api/attendance/studentattendancereport') + 
                `?month=${month + 1}&year=${year}&studentName=${selectedStudentDom.value}`);

            if (!response.ok) {
                if (response.status === 404) {
                    renderDefaultCalendar(firstDay, lastDate);
                    toggleAttendanceStatusDisplay(true);
                    return;
                } else {
                    throw new Error(`Failed to fetch attendance data: ${response.status}`);
                }
            }
            renderDayHeaders();
            const data = await response.json();
            const attendanceData = Object.entries(data).map(([key, value]) => ({ date: key, status: value }));
            reportData = Object.entries(data).map(([key, value]) => ({ 
                date: key, 
                status: value === 1 ? 'Present' : 'Absent'
            }))
            let greenCount = 0;
            let redCount = 0;

            if (attendanceData.length === 0) {
                renderDefaultCalendar(firstDay, lastDate);
                toggleAttendanceStatusDisplay(false); 
            } else {
                toggleAttendanceStatusDisplay(true);
                let date = 1;

                for (let i = 0; i < 6; i++) {
                    const row = document.createElement('tr');

                    for (let j = 0; j < 7; j++) {
                        const cell = document.createElement('td');
                        cell.classList.add('text-center');

                        if (i === 0 && j < firstDay || date > lastDate) {
                            cell.textContent = '';
                        } else {
                            cell.textContent = date;
                            const formattedDate = `${year}-${String(month + 1).padStart(2, '0')}-${String(date).padStart(2, '0')}`;
                            const attendanceRecord = attendanceData.find(record => record.date === formattedDate);

                            if (attendanceRecord) {
                            if (attendanceRecord.status === 1) {
                                cell.style.backgroundColor = 'green';
                                greenCount++; // Increment green count
                            } else {
                                cell.style.backgroundColor = 'red';
                                redCount++; // Increment red count
                            }
                            cell.classList.add('text-white');
                        }
                        date++;
                        }
                        row.appendChild(cell);
                    }
                    dateLabelDom.appendChild(row);
                    if (date > lastDate) break;
                }
            }

            // Display the counts
            greenCountDom.innerText = greenCount;
            redCountDom.innerText = redCount;
            notMarkedCount.innerText = lastDate - (greenCount + redCount);
            totalDaysDom.innerText = lastDate;
            countDom.style.display = 'block';
            downloadDom.style.display = 'block';
        } catch (error) {
            alert('Something went wrong.Please try later.')
        }
    }

    function renderDefaultCalendar(firstDay, lastDate) {
        downloadDom.style.display = 'none';
        let date = 1;
        dayHeadersDom.innerHTML = '';
        dateLabelDom.innerHTML = '';
        renderDayHeaders();

        for (let i = 0; i < 6; i++) {
            const row = document.createElement('tr');
            for (let j = 0; j < 7; j++) {
                const cell = document.createElement('td');
                cell.classList.add('text-center');

                if (i === 0 && j < firstDay) {
                    cell.textContent = '';
                } else if (date > lastDate) {
                    cell.textContent = '';
                } else {
                    cell.textContent = date;
                    date++;
                }
                row.appendChild(cell);
            }
            dateLabelDom.appendChild(row);
            if (date > lastDate) break;
        }
            // Display the counts
            greenCountDom.innerText = 0;
            redCountDom.innerText = 0;
            notMarkedCount.innerText = lastDate;
            totalDaysDom.innerText = lastDate;
            countDom.style.display = 'block';
    }

    function toggleAttendanceStatusDisplay(show) {
        attendanceStatus.classList.toggle('d-none', !show);
    }

    function downloadReport() {
        downloadDom.disabled = true;
        const tableData = [
            ["Date", "Status"],
            ...reportData.map(item => [item.date, item.status])
        ];

        // Convert the data to a worksheet
        const worksheet = XLSX.utils.aoa_to_sheet(tableData);
        // Create a new workbook and append the worksheet
        const workbook = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(workbook, worksheet, `${selectedStudentDom.value}-Report`);
        // Generate a binary Excel file and trigger download
        XLSX.writeFile(workbook, `Attendance_Report.xlsx`);
        setInterval(() =>{
            downloadDom.disabled = false;
        }, 1000)
    }

</script>
