<%- include('../../partials/wardenuse/header.ejs', { appURL: appURL, title: 'User Details' }) %>
<%- include('../../partials/wardenuse/nonloginlayout.ejs', { user: user, subTitle: 'User Details' }) %>
<%- include('../../partials/breadcrumb.ejs', { breadCrumbs: breadCrumbs }) %>
<%- include('../../partials/wardenuse/aside.ejs') %>

<section class="section profile">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                  <img src="" alt="Profile" class="rounded-circle" id="image" name="image">
                  <h2><%=user.name%></h2>
                  <h3><%= user.professional%></h3>
                  <div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-8">
              <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <ul class="nav nav-tabs nav-tabs-bordered">

                    <li class="nav-item">
                      <button class="nav-link active" data-bs-toggle="tab"
                        data-bs-target="#profile-overview">Overview</button>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit User</button>
                    </li>

                    <li class="nav-item">
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change
                        Password</button>
                    </li>

                  </ul>
                  <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                      <h5 class="card-title">User Details</h5>
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Full Name</div>
                        <div class="col-lg-9 col-md-8" id="currentUserName"></div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">DOB</div>
                        <div class="col-lg-9 col-md-8" id="currentDob"></div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Status</div>
                        <div class="col-lg-9 col-md-8" id="currentStatus"></div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Email</div>
                        <div class="col-lg-9 col-md-8" id=currentEmailId></div>
                      </div>
                    </div>
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                      <!-- Profile Edit Form -->
                      <div>
                        <div class="row mb-3">
                          <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">User Image</label>
                          <div class="col-md-8 col-lg-9">
                            <div style="position: relative; display: inline-block;">
                              <!-- Spinner -->
                              <span class="spinner-border text-secondary spinner2" id="spinner"></span>
                              <!-- Profile Image -->
                              <img src="" alt="Profile" id="editProfile" >
                            </div>                            
                            <div class="pt-2">
                              <a class="btn btn-primary btn-sm" title="Upload new profile image"
                                onclick="changeImageDom.click()">
                                <input class="form-control" type="file" id="changeImage" 
                                name="image" onchange="updateAvatar()" style="display: none;">
                                <i class="bi bi-upload"></i></a>
                              <a href="javascript:void(0);" class="btn btn-danger btn-sm" title="Remove my profile image"
                                onclick="deleteAvatar()"><i class="bi bi-trash"></i></a>
                            </div>
                          </div>
                        </div>
                      <div class="row mb-3">
                          <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="fullName" type="text" class="form-control" id="firstName">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="fullName" type="text" class="form-control" id="lastName">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="dob" class="col-md-4 col-lg-3 col-form-label">DOB</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="company" type="date" class="form-control" id="dob">
                          </div>
                        </div>
                       
                        <div class="row mb-3">
                          <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="email" type="email" class="form-control" id="email">
                          </div>
                        </div>
                        
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary" onclick="editUserData('userDetails')"
                            id="saveChange" disabled>Save Changes</button>
                        </div>
                      </div>                        
                    </div>

                    <div class="tab-pane fade pt-3" id="profile-change-password">
                      <!-- Change Password Form -->
                      <div>

                        <div class="row mb-3">
                          <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="password" type="password" class="form-control" id="currentPassword">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New
                            Password</label>
                          <div class="col-md-8 col-lg-9">
                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                          </div>
                        </div>

                        <div class="text-center">
                          <button type="button" class="btn btn-primary" onclick="editUserData('changePassword')"
                           id="resetPassword" disabled>Change Password</button>
                        </div>
                      </div><!-- End Change Password Form -->
                    </div>
                  </div><!-- End Bordered Tabs -->
                </div>
              </div>
            </div>
        </div>
  </section>
</main>
<%- include('../../partials/wardenuse/footer.ejs') %>

<script>
  const changeImageDom = document.getElementById('changeImage');
  const currentUserNameDom = document.getElementById('currentUserName');
  const currentDobDom = document.getElementById('currentDob');
  const currentStatusDom = document.getElementById('currentStatus');
  const currentEmailIdDom = document.getElementById('currentEmailId');
  const currentPasswordDom = document.getElementById('currentPassword');
  const newPasswordDom = document.getElementById('newPassword');
  const firstNameDom = document.getElementById('firstName');
  const lastNameDom = document.getElementById('lastName');
  const dobDom = document.getElementById('dob');
  const emailDom = document.getElementById('email');
  const spinnerDom = document.getElementById('spinner');
  const resetPasswordDom = document.getElementById('resetPassword');
  const renewPasswordDom = document.getElementById('renewPassword');
  const saveChangeDom = document.getElementById('saveChange');

  function updateAvatar() {
    var myHeaders = new Headers();
    var formdata = new FormData();
    formdata.append("image", changeImageDom.files[0]);
    spinnerDom.style.display = "block";

    var requestOptions = {
      method: 'PUT',
      headers: myHeaders,
      body: formdata,
      redirect: 'follow'
    };

    fetch(getAppUrl(`api/warden/${wardenId}/editavatar`), requestOptions)
    .then(async (response) => {
      if (response.status === 400) {

        alert(await response.text())
      }
      setTimeout(() => {
        wardenImage();
        spinnerDom.style.display = "none"; // Hide spinner
      }, 1000);
    })
    .catch(error => alert('Edit warden image something went wrong.Please try later'));
  }

  function deleteAvatar() {
    var myHeaders = new Headers();
    spinnerDom.style.display = "block";
    var requestOptions = {
      method: 'DELETE',
      headers: myHeaders,
      redirect: 'follow'
    };

    fetch(getAppUrl(`api/warden/${wardenId}/deleteavatar`), requestOptions)
      .then(() => {
        setTimeout(() => {
          wardenImage();
          spinnerDom.style.display = "none"; // Hide spinner
        }, 1000);
      })
      .catch(error => alert('Deleting warden image something went wrong.Please try later'));
  }

  function readWardenById() {
    var myHeaders = new Headers();
    var requestOptions = {
      method: 'GET',
      headers: myHeaders
    };

    fetch(getAppUrl(`api/warden/${wardenId}?date=${Date.now()}`), requestOptions)
      .then(async (response) => {
        const warden = await response.json();
        currentUserNameDom.innerText = warden.firstName + warden.lastName
        currentDobDom.innerText = warden.birth
        currentStatusDom.innerText = warden.superAdmin === 1 ? 'Admin' : 'Warden'
        currentEmailIdDom.innerText = warden.emailId
                    
        firstNameDom.value = warden.firstName;
        lastNameDom.value = warden.lastName;
        dobDom.value = warden.dob.split('T')[0];
        emailDom.value = warden.emailId;
      })
      .catch(error => alert('Something went wrong.Please try later.'))
  }

  function editUserData(action) {
    var myHeaders = new Headers(); 
    myHeaders.append("Content-Type", "application/json");
    let raw;

    if (action === 'userDetails') {
        raw = JSON.stringify({
            "firstName": firstNameDom.value,
            "lastName": lastNameDom.value,
            "dob": dobDom.value,
            "emailId": emailDom.value,
        });
    } else if (action === 'changePassword') {
        raw = JSON.stringify({
            "oldPassword": currentPasswordDom.value,
            "password": newPasswordDom.value
        });
    }

    const queryParam = action === 'userDetails' ? 'usermaindetails' : 'changepassword';

    var requestOptions = {
      method: 'PUT',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    };

    fetch(`${getAppUrl(`api/warden/${wardenId}`)}?update=${queryParam}`, requestOptions)
      .then(async (response) => {
          if (response.status === 200) {
            setTimeout(() => {
              readWardenById();
            }, 1000);
            alert('Successfully changed')
          } else {
            const responseText = await response.json();
              if (Array.isArray(responseText)) {
                const errorMessage = responseText.join('\n');
                alert(errorMessage);
              } else {
                alert(responseText);
              }
          }
      })
      .catch(error => alert('Something went wrong.Please try later.'));
  }

  function togglePersonalDetailsButton() {
    saveChangeDom.disabled = !(
      firstNameDom.value.length > 0 &&
      lastNameDom.value.length > 0 &&
      dobDom.value.length > 0 &&
      emailDom.value.length > 0);
  }

  function togglePasswordButton() {
    resetPasswordDom.disabled = !(
      currentPasswordDom.value.length > 0 &&
      newPasswordDom.value.length > 0 &&
      renewPasswordDom.value.length > 0 &&
      renewPasswordDom.value === newPasswordDom.value);
  }

  firstNameDom.addEventListener('input', togglePersonalDetailsButton);
  lastNameDom.addEventListener('input', togglePersonalDetailsButton);
  dobDom.addEventListener('input', togglePersonalDetailsButton);
  emailDom.addEventListener('input', togglePersonalDetailsButton);
  currentPasswordDom.addEventListener('input', togglePasswordButton);
  newPasswordDom.addEventListener('input', togglePasswordButton);
  renewPasswordDom.addEventListener('input', togglePasswordButton);

  window.addEventListener('load',()=> {
    readWardenById()
  })

</script>
