<%- include('../../partials/wardenuse/header.ejs', { appURL: appURL, title: 'Warden form' }) %>
<%- include('../../partials/wardenuse/nonloginlayout.ejs', { user: user, subTitle: 'Warden form' }) %>
<%- include('../../partials/breadcrumb.ejs', { breadCrumbs: breadCrumbs }) %>
<%- include('../../partials/wardenuse/aside.ejs', {activeMenu: 'warden'}) %>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Horizontal Form -->
                    <form class="mt-4">
                        <div class="row mb-3">
                            <label for="firstName" class="col-sm-2 col-form-label">
                                First Name<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstName" 
                                    onkeyup="toggleSubmitButton()">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lastName" class="col-sm-2 col-form-label">
                                Last Name<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="dob" class="col-sm-2 col-form-label">
                                DOB<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                              <input type="date" class="form-control" id="dob">
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">
                                Admin<span class="text-danger">*</span></legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAdmin"
                                        id="isAdmin" value="1">
                                    <label class="form-check-label" for="isAdmin">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAdmin"
                                        id="notAdmin" value="0">
                                    <label class="form-check-label" for="notAdmin">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row mb-3">
                            <label for="emailId" class="col-sm-2 col-form-label">
                                Email Id<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="emailId">
                            </div>
                        </div>
                        <div id="passwordSection">
                            <div class="row mb-3">
                                <label for="password" class="col-sm-2 col-form-label">
                                    Password<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                <input type="password" class="form-control" id="password">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="conform" class="col-sm-2 col-form-label">
                                    Confirm Password<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                <input type="password" class="form-control" id="conform">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" id="fileUploadSection">
                            <label for="inputNumber" class="col-sm-2 col-form-label">Image Upload</label>
                            <div class="col-sm-10">
                              <input class="form-control" type="file" id="imageUpload" name="image">
                              <p class="fw-medium ms-2">Optional.</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="reset" class="btn btn-secondary" id="reset">Reset</button>
                            <button type="button" onclick="authentication()" class="btn btn-primary"
                                id="submitButton" disabled>Submit</button>
                        </div>
                    </form><!-- End Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<%- include('../../partials/wardenuse/footer.ejs') %>
<script>
    const firstNameDom = document.getElementById('firstName');
    const lastNameDom = document.getElementById('lastName');
    const dobDom = document.getElementById('dob');
    const isAdminDom = document.getElementById('isAdmin');
    const notAdminDom = document.getElementById('notAdmin');
    const emailIdDom = document.getElementById('emailId');
    const passwordDom = document.getElementById('password');
    const conformDom = document.getElementById('conform');
    const resetDom = document.getElementById('reset');
    const passwordSectionDom = document.getElementById('passwordSection');
    const fileUploadSectionDom = document.getElementById('fileUploadSection');
    const imageUploadDom = document.getElementById('imageUpload');
    var wardenId = <%= wardenId || 'null' %>;
    const submitDom = document.getElementById('submitButton');

    function authentication() {
        submitDom.disabled = true;
        const adminStatusValue = getSelectedRadioValue('isAdmin');
        const url = getAppUrl(`api/warden${wardenId ? `/${wardenId}` : ''}`);
        const method = wardenId ? 'PUT' : 'POST';
        let requestOptions = {
            method: method,
            headers: new Headers(),
            redirect: 'follow'
        };

        if (imageUploadDom.files.length > 0) {
            // Use FormData when image upload is present
            const formData = new FormData();
            formData.append("image", imageUploadDom.files[0]);
            formData.append("firstName", firstNameDom.value);
            formData.append("lastName", lastNameDom.value);
            formData.append("dob", dobDom.value);
            formData.append("emailId", emailIdDom.value);
            formData.append("superAdmin", adminStatusValue);

            if (method === 'POST') { 
                formData.append("password", passwordDom.value);
            }

            requestOptions.body = formData;
        } else {
            // Use raw JSON when no image upload is present
            const raw = {
                "firstName": firstNameDom.value,
                "lastName": lastNameDom.value,
                "dob": dobDom.value,
                "emailId": emailIdDom.value,
                "superAdmin": adminStatusValue
            };

            if (method === 'POST') { 
                raw.password = passwordDom.value;
            }
            requestOptions.headers.append("Content-Type", "application/json");
            requestOptions.body = JSON.stringify(raw);
        }
        fetch(url, requestOptions)
            .then(async (response) => {
                if ([200, 201].includes(response.status)) {
                    window.location = getAppUrl('warden')
                } else {
                    const responseText = await response.json();
                    if (Array.isArray(responseText)) {
                        const errorMessage = responseText.join('\n');
                        alert(errorMessage);
                        submitDom.disabled = false;
                    } else {
                        alert(responseText.error || responseText);
                        submitDom.disabled = false;
                    }
                }
            })
            .catch(error => {
                alert('Something went wrong.Please try later.');
                submitDom.disabled = false;
            });
    }
                
    if (wardenId) {
        getWardenById(wardenId);
        passwordSectionDom.style.display = 'none';
        fileUploadSectionDom.style.display = 'none';
        resetDom.style.display = 'none';
    }

    function getWardenById(wardenId) {
        const requestOptions = {
            method: "GET"
        };

        fetch(getAppUrl(`api/warden/${wardenId}`), requestOptions)
            .then(async (response) => {
                const warden = await response.json();
                firstNameDom.value = warden.firstName;
                lastNameDom.value = warden.lastName;
                dobDom.value = convertToDateInputFormat(warden.dob);
                emailIdDom.value = warden.emailId;

                if (warden.superAdmin) {
                    isAdminDom.checked = true;
                } else {
                    notAdminDom.checked = true;
                }
            })
            .catch((error) => alert('Something went wrong.Please try later.'));
    }

    function toggleSubmitButton() {
        const adminOrNot = getSelectedRadioValue('isAdmin');
        if (!wardenId) {
            submitDom.disabled = !(
                firstNameDom.value.length > 0 &&
                lastNameDom.value.length > 0 &&
                dobDom.value.length > 0 &&
                emailIdDom.value.length > 0 &&
                adminOrNot !== null &&
                passwordDom.value.length > 5 &&
                conformDom.value.length > 5 &&
                passwordDom.value === conformDom.value);
        } else {
            submitDom.disabled = !(
                firstNameDom.value.length > 0 &&
                lastNameDom.value.length > 0 &&
                dobDom.value.length > 0 &&
                emailIdDom.value.length > 0 &&
                adminOrNot !== null);
        }
    }

    firstNameDom.addEventListener('input', toggleSubmitButton);
    lastNameDom.addEventListener('input', toggleSubmitButton);
    dobDom.addEventListener('input', toggleSubmitButton);
    emailIdDom.addEventListener('input', toggleSubmitButton);
    document.querySelectorAll('input[name="isAdmin"]').forEach(radio => 
        radio.addEventListener('change', toggleSubmitButton));
        
    if (!wardenId) {
        passwordDom.addEventListener('input', toggleSubmitButton);
        conformDom.addEventListener('input', toggleSubmitButton);
    }

</script>
