<%- include('../../partials/wardenuse/header.ejs', { appURL: appURL, title: 'Room form' }) %>
<%- include('../../partials/wardenuse/nonloginlayout.ejs', { user: user, subTitle: 'Room form' }) %>
<%- include('../../partials/breadcrumb.ejs', { breadCrumbs: breadCrumbs }) %>
<%- include('../../partials/wardenuse/aside.ejs', {activeMenu: 'room'}) %>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Horizontal Form -->
                    <form class="mt-4">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="blockCode">
                                Block Code<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example"
                                    id="blockCode">
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="floorNumber">
                                Floor Number<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <select class="form-select" aria-label="Default select example"
                                    id="floorNumber">
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="roomNumber" class="col-sm-2 col-form-label">
                                Room Number<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="roomNumber">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="roomCapacity" class="col-sm-2 col-form-label">
                                Room Capacity<span class="text-danger">*</span></label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="roomCapacity">
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">
                                Status<span class="text-danger">*</span></legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status"
                                            id="isActive" value="1">
                                        <label class="form-check-label" for="isActive">Active</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="status"
                                            id="inActive" value="0">
                                        <label class="form-check-label" for="inActive">InActive</label>
                                    </div>
                                </div>
                        </fieldset>
                        <fieldset class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">
                                Air Conditioner<span class="text-danger">*</span></legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAirConditioner"
                                        id="isAir" value="1">
                                    <label class="form-check-label" for="isAir">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isAirConditioner"
                                        id="notAir" value="0">
                                    <label class="form-check-label" for="notAir">
                                        No
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="text-center">
                            <button type="reset" class="btn btn-secondary" id="reset">Reset</button>
                            <button type="button" onclick="saveOrUpdateRoom()" class="btn btn-primary"
                                id="submitButton" disabled>Submit</button>
                        </div>
                    </form><!-- End Horizontal Form -->
                </div>
            </div>
        </div>
    </div>
</section>
</main>                                                                    
<%- include('../../partials/wardenuse/footer.ejs') %>

<script>
    var blockCodeDom = document.getElementById('blockCode');
    var floorNumberDom = document.getElementById('floorNumber');
    var roomNumberDom = document.getElementById('roomNumber');
    var roomCapacityDom = document.getElementById('roomCapacity');
    var isActiveDom = document.getElementById('isActive');
    var inActiveDom = document.getElementById('inActive');
    var isAirDom = document.getElementById('isAir');
    var notAirDom = document.getElementById('notAir');
    var resetDom = document.getElementById('reset');
    var submitButtonDom = document.getElementById('submitButton');
    var roomId = <%= roomId || 'null' %>;

    function saveOrUpdateRoom() {
        submitButtonDom.disabled = true;
        const selectedStatusValue = getSelectedRadioValue('status');
        const selectedAirConditionerValue = getSelectedRadioValue('isAirConditioner');
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
            "blockId": blockCodeDom.value,
            "blockFloorId": floorNumberDom.value,
            "roomNumber": parseInt(roomNumberDom.value.trim()),
            "roomCapacity": parseInt(roomCapacityDom.value.trim()),
            "isActive": selectedStatusValue,
            "isAirConditioner": selectedAirConditionerValue
        });

        var requestOptions = {
            method: roomId ? 'PUT' : 'POST',
            headers: myHeaders,
            body: raw
        };

        let url = getAppUrl(`api/room${roomId ? `/${roomId}` : ''}`);

        fetch(url, requestOptions)
            .then(async (response) => {
                if ([200, 201].includes(response.status)) {
                    window.location = getAppUrl('room');
                } else {
                    const responseText = await response.json();
                    if (Array.isArray(responseText)) {
                        alert(responseText[0]);
                        submitButtonDom.disabled = false;
                    } else {
                        alert(responseText.error || responseText);
                        submitButtonDom.disabled = false;

                    }
                }
        })
            .catch(error => {
                alert('Something went wrong.Please try later.')
                submitButtonDom.disabled = false;
            });
    }

    function toggleSubmitButton() {
        const selectedStatusValue = getSelectedRadioValue('status');
        const selectedAirConditionerValue = getSelectedRadioValue('isAirConditioner');

        submitButtonDom.disabled = !(
        blockCodeDom.value !== 'Select a Block' &&
        floorNumberDom.value !== 'Select a Floor' &&
        roomNumberDom.value.length > 0 &&
        roomCapacityDom.value.length > 0 &&
        selectedStatusValue !== null &&
        selectedAirConditionerValue !== null)
    }

    async function initializeForm() {
        await populateBlockCode();
        await populateFloorNumber();

        if (roomId) {
            await getRoomById(roomId);
            resetDom.style.display = 'none';
        }

        blockCodeDom.addEventListener('input', populateFloorNumber);
        floorNumberDom.addEventListener('input', toggleSubmitButton);
        roomNumberDom.addEventListener('input', toggleSubmitButton);
        roomCapacityDom.addEventListener('input', toggleSubmitButton);
        document.querySelectorAll('input[name="status"]').forEach(radio => radio.addEventListener('change', toggleSubmitButton));
        document.querySelectorAll('input[name="isAirConditioner"]').forEach(radio => radio.addEventListener('change', toggleSubmitButton));
    }
    initializeForm();

    async function populateBlockCode() {
        try {
            const response = await fetch(getAppUrl('api/block/blockfloor/blockcodecount'));
            const blocks = await response.json();

            const activeOptions = [];
            const disabledOptions = [];

            blockCodeDom.innerHTML = '<option selected>Select a Block</option>';

            blocks.forEach(block => {
                const option = document.createElement('option');
                option.value = block.blockId;
                option.textContent = `${block.blockCode} (Floors Count : ${block.floorCount})`;
                if (block.floorCount === 0) {
                option.disabled = true;
                disabledOptions.push(option);
                } else {
                activeOptions.push(option);
                }
            });

            activeOptions.forEach(option => {
                blockCodeDom.appendChild(option);
            });

            disabledOptions.forEach(option => {
                blockCodeDom.appendChild(option);
            });

        } catch (error) {
            alert('Something went wrong.Please try later.')
        }
    }

    blockCodeDom.addEventListener('change', () => {
        toggleSubmitButton();
    });

    async function populateFloorNumber() {
        try {
            const blockId = blockCode.value;

            if (blockId === 'Select a Block') {
                toggleSubmitButton();
                return;
            }

            const response = await fetch(`${getAppUrl('api/blockfloor/floornumber')}?blockId=${blockId}`);
            const blockFloors = await response.json();
            floorNumberDom.innerHTML = '<option selected>Select a Floor</option>';

            blockFloors.forEach(blockFloor => {
                const option = document.createElement('option');
                option.value = blockFloor.blockFloorId;
                option.textContent = blockFloor.floorNumber;
                floorNumberDom.appendChild(option);
            });

        } catch (error) {
            alert('Something went wrong.Please try later.')
        }
    }

    async function getRoomById(roomId) {
        try {
            const response = await fetch(getAppUrl(`api/room/${roomId}`));
            const room = await response.json();

            blockCodeDom.value = room.blockId
            await populateFloorNumber()
            floorNumberDom.value = room.blockFloorId
            roomNumberDom.value = room.roomNumber
            roomCapacityDom.value = room.roomCapacity
                                    
            if (room.isActive) {
                isActiveDom.checked = true;
            } else {
                inActiveDom.checked = true;
            }

            if (room.isAirConditioner) {
                isAirDom.checked = true;
            } else {
                notAirDom.checked = true;
            }
        } catch (error) {
            alert('Something went wrong.Please try later.')
        }
    }

</script>
